.container1 {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container2 {
  padding: 20px 60px 50px;
  border: 2px solid rgb(192, 189, 189);
  box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
    0 1px 4px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
strong {
  font-size: 25px;
  padding: 25px 0;
  font-weight: 600;
  margin: 20px 0 20px;
}
.btn {
  margin-top: 20px;
  padding: 10px;
  width: 400px;
  background-color: #009dff;
  border-radius: 5px;
  color: white;
  font-size: 25px;
}
.form-control {
  padding: 10px;
  width: 400px;
  font-size: 25px;
  border-radius: 5px;
  margin: 10px 0 15px;
}
h2 {
  font-size: 35px;
  text-align: center;
}
